
.b-theme{
  background-color: #20D3C2;
}
.f-theme{
  color: #20D3C2;
}

a{
  text-decoration: none;
}

a:hover{
  color: #16867b;
}

h1{
  color: #0E153D;
}
p{
  font-size: 16px;
  color: #0E153D;
}

/* NAVBAR STARTS */

.top-bar{
  display: flex;
  height: 40px;
  font-size: 16px;
  color: white;
  justify-content: center;
}

.top-bar-inside{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.top-bar-box-left{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;

}
.top-bar-box-right{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.top-bar-box-right a:hover {
  color: #20D3C2 !important;
  background-color: white;
}
.top-bar-box-right a{
  color: white !important;
  text-decoration: none;
  border-radius: 5%;
}

.middle-top-bar{
  display: flex;
  height: 106px;
  justify-content: center;
  align-items: center;
}

.searchbutton:hover #search-icon{
 color: #16867b;
}

.middle-top-bar-inside{
  display: flex;
  height: 106px;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.shopping-cart{
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}
.shopping-cart a{
  color: black; 
  text-decoration: none;
}

.searchbutton{
  width: 35%;
}

form.searchbutton input[type=text]{
  padding: 5px;
  font-size: 14px;
  border: 1px solid #E3E3E3;
  float: left;
  width: 80%;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.searchbutton button{
  float: left;
  width: 20%;
  padding: 5px;
  background: #20D3C2;
  color: white;
  font-size: 14px;
  border: 1px solid #E3E3E3;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottom-top-bar{
  display: flex;
  height: 50px;

  justify-content: center;
}

.bottom-top-bar-inside{
  display: flex;
  height: 50px;
  width: 900px;
  
  justify-content: space-between;
  align-items: center;
}

.bottom-top-bar-inside a:hover{
  color: #16867b;
}

.bottom-top-bar-inside-1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #20D3C2;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  height: 50px;
  width: 200px;
}
.bottom-top-bar-inside-2{
  
  background-color: #20D3C2;
  border-radius: 20px;
  padding: 8px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* WEBSITE BANNER */

.website-banner{
  display: flex;
  background-color: #EEEEEE;
  justify-content: center;
  align-items: center;
}
.website-banner-2{
  display: flex;
}

.website-banner-text{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 40%;
}

.text-1{
  font-size: 60px;
  color: #0E153D;
}

.text-1 p{
  margin: 0;
  color: #20D3C2;
  font-weight: bold;
  font-size: 60px;
}

.text-2{
  max-width: 400px;
  margin: 20px 0px 20px 0px; 
}

.text-3{
  background-color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 25px;
  color: #20D3C2;
  font-weight: 650;
  text-decoration: none;
}

/* 4 Containers starts here */

.container-main{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 100px;
}

.container-main-1{
  display: flex;
  padding: 20px;
  background-color: #20D3C2;
  background-color: rgba(32, 211, 194,0.08);
  height: 137px;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.container-main-1 img{
  width: 30%;
}

.container-main-1-text{
  margin: auto;
  color: #20D3C2;
  font-weight: 500;
  font-size: 16px;
  width: 70%;
}
.container-main-1-text p{
  color: black;
  font-weight: normal;
}

.title-for-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;

}
.title-for-container span{
  color: #20D3C2;
}
.title-for-container h1{
  font-family: 'Play', sans-serif;
  margin: 10px;
  font-size: 36px;
}
.title-for-container img{
  margin: 10px;
}
.title-for-grid p{
  margin: 10px;
}


/* Grid-boxes starts here */
.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 214px);
  grid-template-rows: repeat(3, 214px);
  gap:20px;
  justify-content: center;
  margin: 50px;
}

.grid-container > div{
  background-color: #CCCCCC;
  text-align: center;
  border-radius: 10px;
}
.grid-box1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: end;
}

.grid-box2{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: end;
}

.grid-box3{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: end;
}

.grid-box4{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  align-items: end;
}

.grid-box5{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: end;
}

.grid-box6{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: end;
}

.grid-box7{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  align-items: end;
}

.grid-box-text{
  display: flex;
  justify-content: start;
  align-items: end;
  width: 50%;
  background-color: rgba(14, 21, 61, 0.85);
  color: #20D3C2;
  font-weight: 500;
  padding: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
  overflow: hidden;
}

.grid-box-text2{
  display: flex;
  justify-content: start;
  align-items: end;
  width: 50%;
  background-color: rgba(14, 21, 61, 0.85);
  color: #20D3C2;
  font-weight: 500;
  padding: 10px;
  border-top-right-radius: 10px;
  font-size: 16px;
}

.grid-box-text2-inside{
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-p {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

/* NEW ARRIVALS */

.row{
  justify-content: center;
}

.fa-cart-shopping{
  font-size: 0.9em;
}

.card{
  position: relative;
  height: 400px;
  width: 350px;
  overflow: hidden;
  background-color: #EEEEEE;
  margin: 20px;
}

.card-img img{
  position: absolute;
  right: 0;
}

.card-menu{
  position: absolute;
  top: 100%;
  right: 20px;
  list-style: none;
  padding: 0.5rem;
  margin: auto;
  font-size: 20px;
  border-radius: 25px;
  background-color: #ffffff;
  z-index: 1;
  transition: top 0.3s ease-in-out;
}
  .card:hover .card-menu{
    top: 20px; 
  }

  .card-menu li a {
    color: #AAAAAA;
  }
    .card-menu li a:hover{
      color: #20D3C2;
    }

.not-in-stock{
  color: #FE6C6C;
}

.card-body{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  z-index: 1;
  transition: bottom 0.3s ease-in-out;
}
  .card:hover .card-body{
    bottom: 25%; 
  }

.card-background{
  position: absolute;
  background-color: #0E153D;
  height: 15%;
  right: 0;
  bottom: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}
  .card:hover .card-background{
    height: 100%;
    opacity: 0.85;
  }

