
.b-theme{
  background-color: #20D3C2;
}
.f-theme{
  color: #20D3C2;
}



.top-bar{
  display: flex;
  height: 40px;
  font-size: 16px;
  color: white;
  justify-content: center;
}

.top-bar-inside{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.top-bar-box-left{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;

}
.top-bar-box-right{
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}
.top-bar-box-right a:hover {
  color: #20D3C2 !important;
  background-color: white;
}
.top-bar-box-right a{
  color: white !important;
  text-decoration: none;
}

.middle-top-bar{
  display: flex;
  height: 106px;

  justify-content: center;
  align-items: center;
}

.middle-top-bar-inside{
  display: flex;
  height: 106px;
  width: 900px;
  
  justify-content: space-between;
  align-items: center;
}

.shopping-cart{
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}
.shopping-cart a{
  color: black; 
  text-decoration: none;
  
}

.searchbutton{
  width: 35%;
}

form.searchbutton input[type=text]{
  padding: 5px;
  font-size: 14px;
  border: 1px solid #E3E3E3;
  float: left;
  width: 80%;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.searchbutton button{
  float: left;
  width: 20%;
  padding: 5px;
  background: #20D3C2;
  color: white;
  font-size: 14px;
  border: 1px solid #E3E3E3;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}






/* REMOVE THIS WHEN DONE */
.border{
  border: black;
}